%fieldset
  = label_tag :tagline
  = text_field_tag :tagline, current_user.tagline, name: "user[tagline]"
%fieldset
  = label_tag :bio
  = text_area_tag :bio, current_user.bio, name: "user[bio]"
%fieldset
  = label_tag :hourly_rate
  = number_field_tag :hourly_rate, current_user.hourly_rate, name: "user[hourly_rate]"

%hr
%fieldset
  = label_tag :tags
  = select_tag :tags, options_for_select( Tag.all.map(&:name), current_user.tags ), include_blank: true, class: "chosen-select", multiple: true

%hr
%fieldset
  = label_tag :special_skills

%hr

:coffeescript
  $ ->
    $(".chosen-select").chosen()

:sass
  .chosen-container
    width: 200px !important
