= javascript_include_tag "nav_scripts"

%nav
  #navbar.navbar.navbar-fixed-top
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "#"}
      =image_tag "https://s3.amazonaws.com/lorious/layout/lorious_2color_beta.svg", width: "110px"
    .nav-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.pull-right
        -if current_user
          %li.dropdown
            %a{"data-toggle" => "dropdown", :href => "#"}
              ="Welcome #{current_user.firstname}"
              &nbsp;
              =image_tag("https://s3.amazonaws.com/lorious/layout/elements/placeholders/image_placeholder.jpg", width: "25px", class: "img-rounded")
              %b.caret
            %ul.dropdown-menu
              %li
                =link_to "Profile", "#"
              %li= link_to "Mailbox", mailbox_url
              %li= link_to "Credits", credits_url
              %li= link_to "Appointments", calendar_url
              %li= link_to "Settings", account_url
              %li.divider
              %li= link_to "Sign out", signout_path
          %li
            =link_to(mailbox_url, style:"padding-left:0px;padding-right:0px;") do
              %span.label.label-default
                %i.icon-envelope.icon-white
                = "( #{Message.unread_by_user(current_user).count} )"
          %li
            =link_to(calendar_url, style:"padding-left:0px;padding-right:0px;") do
              %span.label.label-danger
                %i.icon-calendar
                = "( #{current_user.appointments.count} )"
          %li
            =link_to(credits_url, style:"padding-left:0px;padding-right:0px;") do
              %span.label.label-info
                %i.icon-asterisk
                = "( #{current_user.credit_balance} )"

        -else
          %li
            = link_to "Sign in", GOOGLE_OAUTH_PATH
      %ul.nav.navbar-nav
        -if current_user
          %li.visible-lg
            =link_to "Search for Experts", "#"
          %li.visible-lg
            =link_to "Recent Requests", "#"
          %li.hidden-lg
            =link_to "Search", "#"
          %li.hidden-lg
            =link_to "Requests", "#"
        -else
          %li.active
            %a{:href => "#home"} Home
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#how-it-works"} How it works
          %li
            %a{:href => "#get-started"} Get started
