%h1 This is the show page for an appointment request

.appointment-request-information
%p= @appointment.description

.conversation
  - @appointment.messages.ordered.each do |message|
    .message
      %p= message

.add-message
  %p Add a message
  = form_tag messages_url do
    = hidden_field_tag :appointment_id, @appointment.id
    = text_area_tag :body
    = submit_tag "Submit"
