!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "http-equiv='X-UA-Compatible' content='chrome=1'"}
      %title= content_for?(:title) ? yield(:title) : "Lorious | Connecting Users to Share Knowledge via Video Chat"
      %meta{:content => content_for?(:description) ? yield(:description) : "Lorious", :name => "Lorious is a community of experts that are here to help you on any problem you have on any topic. Sign up to be an expert or tell us what you need help on. Sign up to become an expert on any topic at Lorious. Everyone is an expert on something. Tell us what problems you’re facing, we’re here to help"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "//cloud.typography.com/7516432/790802/css/fonts.css"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield(:head)

  -if controller.action_name == "homepage"
    %body{"data-offset" => "60", "data-spy" => "scroll", "data-target" => "#navbar"}
  -else
    %body
  / Google Tag Manager
  %noscript
    %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-39XV", :style => "display:none;visibility:hidden", :width => "0"}
  :javascript
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-39XV');
    / End Google Tag Manager
  .wrapper
    // div required to push footer down?
    %div
      = render "shared/notifications"
      .main{id: "#{controller.controller_name}-#{controller.action_name}"}
        = render "shared/nav"
        = content_for?(:content) ? yield(:content) : yield
    = render "shared/footer_public"
