!!!
%html
  %head
    %title Lorious
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    =stylesheet_link_tag "//cloud.typography.com/7516432/790802/css/fonts.css"

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .wrapper
      .container
        = render "shared/header_public"
        = render "shared/notifications"
        .main{class: "#{controller.controller_name}-#{controller.action_name}"}
          = yield
      = render "shared/footer_public"
