!!!
%html
  %head
    %title Lorious
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "//cloud.typography.com/7516432/790802/css/fonts.css"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield(:head)

  -if controller.action_name == "homepage"
    %body{"data-offset" => "60", "data-spy" => "scroll", "data-target" => "#navbar"}
  -else
    %body
  .wrapper
    = render "shared/notifications"

    .container
      .main{class: "#{controller.controller_name}-#{controller.action_name}"}
        = render "shared/nav"
        .row.top-row
          = content_for?(:content) ? yield(:content) : yield
    = render "shared/footer_public"
